
@model DUSCoreTraining.Pages.Modul07.AutosNachladenModel
<table class="table table-striped">
    @foreach (var item in Model.MyAutos)
    {
        <tr>
            <td>@item.Marke</td>
        </tr>

    }
</table>