@page
@model DUSCoreTraining.Pages.Modul05.DateiUploadModel
@{
    ViewData["Title"] = "DateiUpload";
}

<h1>DateiUpload</h1>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="datei" />
    <input type="submit" />
/></form>

