@page
@model DUSCoreTraining.Pages.Modul05.exportModel
@{
    ViewData["Title"] = "export";
    Layout = null;
}
<table>
    @for (int i = 0; i < 10; i++)
    {
        <tr><td>@i</td></tr>
    }
</table>
