@page
@model DUSCoreTraining.Pages.Modul03.indexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    @Model.Anzahl
</body>
</html>
