@page "{handler?}/{id?}"
@model DUSCoreTraining.Pages.Modul03.PageMethodeModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageMethode</title>
</head>
<body>
    <a href="~/Modul03/PageMethode/?handler=drucken&id=12">drucken</a><br />  page <br />
    <a href="~/Modul03/PageMethode/drucken?id=12">drucken</a><br />  page "{handler?} "<br />
    <a href="~/Modul03/PageMethode/drucken/12">drucken</a> page "{handler?}/{id?}"<br />
    <a asp-page="PageMethode" asp-route-handler="drucken" asp-route-id="hannes">taghelper drucken</a><br />
    <a asp-page-handler="drucken" asp-route-id="Sepp" >taghelper drucken</a>


    <br />
    <form method="post">
        <input name="id" type="text" />
        <button>post </button>

    </form>
</body>
</html>
