@page
@model DUSCoreTraining.Pages.Modul04.FormatierungenModel
@{
    ViewData["Title"] = "Formatierungen";
}

<h1>Formatierungen</h1>
@Model.Datum<br />
@Html.DisplayFor(model => Model.Datum)

@Html.EditorFor(model => Model.Datum)

