@page
@model DUSCoreTraining.Pages.Modul04.UsePartialModel
@{
    ViewData["Title"] = "UsePartial";
}

<h1>UsePartial</h1>
<form method="post"><button>post?</button></form>
<partial name="_Zeit" />



