@page
@model DUSCoreTraining.Pages.Modul08.ModelStatusModel
@{
    ViewData["Title"] = "ModelStatus";
}

<h1>ModelStatus</h1>
<form method="post">
    <input asp-for="Feld" />
    <input asp-for="Feld2" />
    <button>save</button>
</form>
